<app-nav></app-nav>
<div class="container">
    <br /><br />
    <div class="row">
        <div class="">
            <p class="display-4">Location-wise <b>Onboarding</b></p>
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>


    <!--
    <div class="col-md-6">
        <h2>Hired Candidates Based on Location</h2>
        <div class="chart-wrapper" *ngIf="slChartData">
            <canvas baseChart [datasets]="slChartData" [labels]="slChartLabels" [chartType]="slChartType"
                [options]="slChartOptions" [legend]="slChartLegend">
            </canvas>
        </div>
    </div>
    <br>

    <div class="col-md-6">
        <h2>Hired Candidates Based on Technology</h2>
        <div class="chart-wrapper" *ngIf="slChartData">
            <canvas baseChart [datasets]="techChartData" [labels]="techChartLabels" [chartType]="techChartType"
                [options]="techChartOptions" [legend]="techChartLegend">
            </canvas>
        </div>
    </div>
    <br>

    <div class="col-md-6">
        <h2>Hired Candidate Based on University</h2>
        <div class="chart-wrapper" *ngIf="slChartData">
            <canvas baseChart [datasets]="courseChartData" [labels]="courseChartLabels" [chartType]="courseChartType"
                [options]="courseChartOptions" [legend]="courseChartLegend">
            </canvas>
        </div>
    </div>
    -->
    <br>
</div>