<app-nav></app-nav>

<div class="container">
   
    <form [formGroup]="createform" class="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <p class="lighter h1">New Onboardee Details </p>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" formControlName="inputfname" placeholder="First Name"
                    [(ngModel)]="onboardee.fname" name="fname" required autofocus>
                <small *ngIf="createform.get('inputfname')?.invalid && createform.get('inputfname')?.touched" class="text-danger">First name is required</small>    
            </div>
            <div class="col-md-4 mb-3">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" formControlName="inputlname" placeholder="Last Name" required
                    [(ngModel)]="onboardee.lname" name="lname">
                <small *ngIf="createform.get('inputlname')?.invalid && createform.get('inputlname')?.touched" class="text-danger">Last name is required</small>
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputDOB">DOB</label>
                <input type="date" class="form-control" formControlName="inputDOB" required [(ngModel)]="onboardee.dob" name="dob">
                <small *ngIf="createform.get('inputDOB')?.invalid && createform.get('inputDOB')?.touched" class="text-danger">Date of Birth is
                    required</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputConatact">Contact</label>
                <input type="text" class="form-control" formControlName="inputContact" required [(ngModel)]="onboardee.contact"
                    name="contact" placeholder="Contact">
                <small *ngIf="createform.get('inputContact')?.invalid && createform.get('inputContact')?.touched" class="text-danger">Contact is required</small>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" formControlName="inputEmail" placeholder="example@gmail.com"
                    [(ngModel)]="onboardee.email" name="email" required>
                <small *ngIf="createform.get('inputEmail')?.invalid && createform.get('inputEmail')?.touched" class="text-danger">Email is required</small>
            </div>
        </div>

        <div>
            <button [disabled]="createform.invalid" type="submit" class="btn btn-primary">Create</button>
        </div>

    </form>
</div>