.table-wrapper {
    width: 1100px;
    margin: 50px auto;
    background: #fff;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 3px solid rgb(0, 193, 252);
}

.table{
    border: #a0a5b1;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    

table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}

table.table td a.view {
    color: #0755ff;
}
.title{
    padding-top: 10px;
    padding-bottom: 20px;
}


h1{
    font-weight: 9000px;
    font-family: Arial, Helvetica, sans-serif;
}

.thead{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 193, 252);
    
}

.table thead th{
    font-weight: normal;
    border-bottom: 2px solid  rgb(0, 193, 252);
    border-left: #fff ;
    border-right: #fff;
    border-top:#fff ;
    font-size: large;
}


.row{
    width: 1000px;
}

.search-box {
    position: relative;       
    float: left;
    margin-left: 12px;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
    float: right;
}
.search-box input {
    height: 41px;
    width: 150px;
    border-radius: 10px;
    border:1px solid #6e6e6e;
    padding-left: 35px;
    box-shadow: none;
}
.search-box :hover{
    border-color: #379bbd;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

button{
    margin-top: 15px;
    float:left ;
    margin-left: 10px;
    border-radius: 10px;   
}



